<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhodor.app.mapper.CheckLogMapper">
    <resultMap id="BaseResultMap" type="com.zhuhodor.app.model.pojo.CheckLog">
        <id column="id" property="id"/>
        <result column="total_score" property="totalScore"/>
        <result column="check_time" property="checkTime"/>
        <result column="target_dorm" property="targetDorm"/>
        <result column="note" property="note"/>
        <result column="check_username" property="checkUsername"/>
    </resultMap>

    <resultMap id="CheckLogVo" type="com.zhuhodor.app.model.vo.CheckLogVo" extends="BaseResultMap">
        <result column="building_id" property="buildingId"/>
        <result column="dorm_id" property="dormId"/>
        <collection property="itemScores" ofType="com.zhuhodor.app.model.vo.CheckItemLogVo">
            <result column="score" property="score"/>
            <result column="item_id" property="itemId"/>
            <result column="item_score" property="itemScore"/>
            <result column="item" property="item"/>
            <result column="enabled" property="enabled"/>
            <result column="parent_item" property="parentItem"/>
        </collection>
    </resultMap>

    <select id="getLogByDormId" resultMap="CheckLogVo">
        SELECT
        cl.id, cl.total_score, cl.check_time, cl.target_dorm, cl.note, cl.check_username,
        cil.score, cil.parent_item,
        ci.id item_id, ci.item, ci.score item_score
        FROM p_check_log cl, p_checkitem_log cil, p_checkitem ci
        WHERE
        cil.check_log = cl.id AND cil.item_id = ci.id AND cl.target_dorm = #{id} AND cl.check_time = #{time}
        ORDER BY cl.check_time DESC
    </select>

    <select id="getLogsByCondition" resultMap="CheckLogVo" parameterType="com.zhuhodor.app.model.vo.condition.LogSearchVo">
        SELECT pcl.id, pcl.total_score, pcl.check_time, pcl.check_username, pcl.target_dorm,
         pd.building_id, pd.dorm_id
        FROM `p_check_log` pcl,  p_dorm pd
        WHERE
        pcl.target_dorm = pd.id
        <if test="null != param2.checkTime">
            AND pcl.check_time = #{param2.checkTime}
        </if>
        <if test="null != param2.buildingId and '' != param2.buildingId">
            AND pd.building_id = #{param2.buildingId}
        </if>
        <if test="null != param2.dormId and '' != param2.dormId">
            AND pd.dorm_id = #{param2.dormId}
        </if>
    </select>
</mapper>
