<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhodor.app.mapper.ImageMapper">
    <resultMap id="imageVo" type="com.zhuhodor.app.model.vo.ImageVo">
        <id property="id" column="i_id" />
        <result property="url" column="url"/>
    </resultMap>

    <select id="getImageVOByFixId" resultMap="imageVo">
        SELECT id i_id, url FROM p_image WHERE fix_id = #{fixId}
    </select>

    <select id="getImageVOByAnnounceId" resultMap="imageVo">
        SELECT id i_id, url FROM p_image WHERE announce_id = #{announceId}
    </select>
</mapper>

