<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhodor.app.mapper.PostMapper">
    <resultMap id="post" type="com.zhuhodor.app.model.pojo.Post">
        <id property="id" column="id"/>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="time" column="time"></result>
        <result property="userId" column="user_id"></result>
        <result property="status" column="status"></result>
        <result property="likeNum" column="like_num"></result>
        <result property="reason" column="reason"></result>
    </resultMap>

    <resultMap id="postVo" type="com.zhuhodor.app.model.vo.PostVo" extends="post">
        <result property="nickName" column="nick_name"></result>
        <result property="avatar" column="avatar"></result>
        <result property="buildingId" column="building_id"></result>
        <result property="username" column="username"></result>
        <result property="commentNum" column="comment_num"></result>
    </resultMap>

<!--    获取postId比指定id小的post并指定结果集大小-->
    <select id="getCheckedPosts" resultMap="postVo">
        SELECT
        pp.*, pu.nick_name, pu.avatar, pd.building_id
        FROM
        p_post pp
        LEFT JOIN p_user pu ON pu.id = pp.user_id
        LEFT JOIN p_dorm pd ON pd.id = pu.dorm_id
        WHERE
        <if test="id != -1">
            pp.id <![CDATA[ < ]]> #{id} AND
        </if>
         pp.status = 1
         ORDER BY id desc
        LIMIT #{size}
    </select>

<!--    根据id获取postVo-->
    <select id="getPostById" resultType="com.zhuhodor.app.model.vo.PostVo" parameterType="Integer">
        SELECT
        pp.*, pu.nick_name, pu.avatar, pd.building_id
        FROM
        p_post pp
        LEFT JOIN p_user pu ON pu.id = pp.user_id
        LEFT JOIN p_dorm pd ON pd.id = pu.dorm_id
        WHERE
        pp.id = #{id}
    </select>

    <select id="getUncheckedPosts" resultType="com.zhuhodor.app.model.vo.PostVo">
        SELECT
        pp.*, pu.nick_name, pu.avatar, pd.building_id
        FROM
        p_post pp
        LEFT JOIN p_user pu ON pu.id = pp.user_id
        LEFT JOIN p_dorm pd ON pd.id = pu.dorm_id
        WHERE
        pp.status = 0
    </select>

    <select id="getPostsByCon" resultMap="postVo">
        SELECT pp.*,
        (SELECT COUNT(pc.id)  FROM p_post_comment pc WHERE pc.post_id = pp.id) AS comment_num,
        pu.nick_name, pu.username, pu.avatar
        FROM p_post pp, p_user pu
        WHERE pp.user_id = pu.id
        <if test="'' != param2.title and null != param2.title">
            AND pp.title LIKE CONCAT('%', #{param2.title}, '%')
        </if>
        <if test="'' != param2.content and null != param2.content">
            AND pp.content LIKE CONCAT('%', #{param2.content}, '%')
        </if>
        <if test="'' != param2.username and null != param2.username">
            AND pu.username = #{param2.username}
        </if>
        <if test="'' != param2.nickName and null != param2.nickName">
            AND pu.nick_name = #{param2.nickName}
        </if>
    </select>

    <update id="autoPassAt7Pm">
        UPDATE `p_post`
        SET `status` = 1
        WHERE
        status = 0
        AND
        NOW() >= DATE_ADD(time,INTERVAL 1 DAY)
    </update>

    <update id="checkByBatchIds" parameterType="list">
        UPDATE p_post
        SET status = 1
        WHERE id IN
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>
