<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhodor.server.mapper.FixMapper">
    <resultMap id="Fix" type="com.zhuhodor.server.model.pojo.Fix">
        <id property="id" column="id"/>
        <result property="detail" column="detail"/>
        <result property="catId" column="cat_id"/>
        <result property="dormId" column="dorm_id"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="status" column="status"/>
        <result property="phone" column="phone"/>
        <result property="priority" column="priority"/>
        <result property="thing" column="thing"/>
        <result property="num" column="num"/>
        <result property="expectTime" column="expect_time"/>
        <association property="cat" column="cat_id" select="getCat"></association>
        <association property="user" select="getUser" column="user_id"></association>
        <association property="dorm" select="getDorm" column="dorm_id"></association>
        <collection property="images" javaType="List" resultMap="imageVo"/>
    </resultMap>

    <resultMap id="imageVo" type="com.zhuhodor.server.model.vo.ImageVo">
        <id property="id" column="i_id" />
        <result property="url" column="url"/>
    </resultMap>
    <resultMap id="fixCatVo" type="com.zhuhodor.server.model.pojo.FixCat">
        <id property="id" column="c_id"/>
        <result property="category" column="category"/>
        <result property="priority" column="c_priority"/>
    </resultMap>
    <resultMap id="userVo" type="com.zhuhodor.server.model.vo.UserVo">
        <id column="u_id" property="id"/>
        <result column="nick_name" property="nickName"/>
        <result column="username" property="username"/>
        <result column="avatar" property="avatar"/>
    </resultMap>
    <resultMap id="dormVo" type="com.zhuhodor.server.model.vo.DormVo">
        <id column="d_id" property="id"/>
        <result column="building_id" property="buildingId"/>
        <result column="dorm_id" property="dormId"/>
    </resultMap>
    <select id="getUser" resultMap="userVo">
        SELECT id u_id, nick_name, username FROM p_user WHERE id = #{id}
    </select>
    <select id="getCat" resultMap="fixCatVo">
        SELECT id c_id, category FROM p_fix_cat WHERE id = #{id}
    </select>
    <select id="getDorm" resultMap="dormVo">
        SELECT id d_id, building_id, dorm_id FROM p_dorm WHERE id = #{id}
    </select>

    <select id="getFixReportsByUserId" resultMap="Fix">
        SELECT pf.`id`, pf.`create_time`, pf.`detail`, pf.`priority`, pf.`status`, pf.`thing`, pf.`num`,
        pi.url
        FROM `p_fix` pf
        LEFT JOIN `p_image` pi
        ON
        pi.fix_id = pf.id
        WHERE pf.user_id = #{userId} AND pf.status != -1
        ORDER BY pf.create_time DESC
    </select>

    <select id="getFixReportsByDormId" resultMap="Fix">
        SELECT pf.`id`, pf.`create_time`, pf.`detail`, pf.`priority`, pf.`status`, pf.`thing`, pf.`num`,
        pi.url
        FROM `p_fix` pf
        LEFT JOIN `p_image` pi
        ON
        pi.fix_id = pf.id
        WHERE pf.dorm_id = #{dormId} AND pf.status != -1
        ORDER BY pf.create_time DESC
    </select>

    <select id="getFixReportById" resultMap="Fix">
        SELECT pf.*, pi.url
        FROM `p_fix` pf
        LEFT JOIN p_image pi
        ON
        pi.fix_id = pf.id
        WHERE pf.id = #{id} AND pf.status != -1
    </select>

</mapper>
