<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhodor.server.mapper.RoleMapper">
    <insert id="acquireMenusWithRoleId">
        INSERT INTO p_menu_role(mid, rid) VALUES
        <foreach collection="param1" item="item" separator=",">
            (
            #{item},
            #{param2}
            )
        </foreach>
    </insert>

    <delete id="releaseMenusByRoleId">
        DELETE FROM p_menu_role WHERE rid = #{roleId}
    </delete>
</mapper>
